<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questionnaire</title>

    <script src="../../../app/bower_components/handlebars/handlebars.js"></script>
    <script src="../../../dist/bundle.js"></script>

</head>
<body>

<h1>Questionnaire</h1>

<script id="some-template" type="text/x-handlebars-template">
    <ul>
        {{#each questions}}
        <li>
            {{question}} <br/>
            <form>
                {{#each answers}}
                <input type="radio" name="{{../question}}">{{.}} <br/>
                {{/each}}
            </form>
        </li>
        {{/each}}
    </ul>
</script>

<div id="template"></div>

<script src="controller.js"></script>
<button>Show my score...</button>

</body>
</html>